<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css">
    <script>
        function submitRequest(url, method,data) {
            $("#resultsdiv").html('')
            $.ajax({
                url: url,
                type: method,
                contentType:"application/json",
                data: JSON.stringify(data),
                dataType:"json",
                success: function(result) {
                    console.log("submit request result: " + JSON.stringify(result))
                    $("#resultsdiv").html('<p>'+JSON.stringify(result)+'</p>');
                }
            });
        }

        $(function () {
            console.log("init jquery...");
            $("#btnCreate").on('click', function () {
                console.log("create clicked");
                createquery = {"query":'mutation{createEmployee(name:"'+$("#empname").val() +'",departmentName:"'+$("#empdept").val()+'") {employee {name}}}'};
                submitRequest("{{ url_for('graphql') }}","POST", createquery);
            });
            $("#btnListAllEmployees").on('click',function () {
                console.log("Listing all employees");
                listquery = {"query": "{allEmployees{edges {node{name salary department {name}}}}}"};
                submitRequest("{{ url_for('graphql') }}?","POST",listquery);
            });
            $("#btnListAllDept").on('click',function () {
                console.log("Listing all departments");
                listquery = {"query":'{allDepartments {edges {node {name}}}}'};
                submitRequest("{{ url_for('graphql') }}","POST",listquery);
            });
        });
    </script>
</head>

<body>
    <!-- hi -->
<div style="">
    <form id="empinfo" name="empinfo">
        <input id="empname" name="name" value="Adam Rosenquist">
        <select id="empdept" name="empdept">
            <option value="IT">IT</option>
            <option value="Sales">Sales</option>
            <option value="HR">HR</option>
            <option value="QA">QA</option>
        </select>
    </form>
</div>
    <button name="btnCreate" id="btnCreate">Create</button>
    <button name="btnListAllEmployees" id="btnListAllEmployees">List All Employees</button>
    <button name="btnListAllDept" id="btnListAllDept">List All Departments</button>
    <div id="resultsdiv" name="resultsdiv" style="border:1px solid black;width:400px;height:250px" scrollable="true">

    </div>
</body>


</html>